/* row */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* col */

.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 3);
}

