* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140;
    margin: 0 auto;
}



div[class^=col-] {
    
    height: 100%;
    padding: 5px;


}

.card {
    background-color: dodgerblue;
    height: 80px;
    color: white;
    font-size: 20px;
}

.card-large{height: 160px;
    background-color: dodgerblue;
    
    color: white;
    font-size: 20px;}


.card-green{background-color: green;
    height: 80px;
    color: white;
    font-size: 20px;}